node_modules
.env*
!.env.template
.venv
.history
storage_layout
out.html
#Hardhat files
cache
artifacts

# OpenZeppelin
.openzeppelin/unknown-*.json
coverage.json
coverage

flattened
flattened.tgz
bend-incentive-flattened.tgz
flatten.sol

# Foundry
cache_forge
out
